 <li class="invitation">
  <div clas="section">
    <h5 class="invitation-team"><%= invitation.team.slug %></h5>
    <p class="invitation-user">Sended by <%= invitation.user.name %></p>
    <a class="waves-effect green waves-light btn">Accept</a>
    <a class="waves-effect red waves-light btn">Reject</a>
  </div>
  <div class="divider"></div>
</li>